api/ws/wscnv.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="obtenerCNV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sFecha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerCNVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerCNVResult" type="tns:ArrayOfCNV" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCNV">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CNV" nillable="true" type="tns:CNV" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CNV">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NuCnv" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UbiDomMad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sexo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Peso" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FecNac" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LugNac" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UbiNac" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AtePor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipPar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConPar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DurEmb" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fin" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="credencialcnv" type="tns:credencialcnv" />
      <s:complexType name="credencialcnv">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="clave" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="obtenerCNV_OPS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sFecha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerCNV_OPSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerCNV_OPSResult" type="tns:ArrayOfCNV" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="obtenerCNVSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerCNV" />
  </wsdl:message>
  <wsdl:message name="obtenerCNVSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerCNVResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerCNVcredencialcnv">
    <wsdl:part name="credencialcnv" element="tns:credencialcnv" />
  </wsdl:message>
  <wsdl:message name="obtenerCNV_OPSSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerCNV_OPS" />
  </wsdl:message>
  <wsdl:message name="obtenerCNV_OPSSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerCNV_OPSResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerCNV_OPScredencialcnv">
    <wsdl:part name="credencialcnv" element="tns:credencialcnv" />
  </wsdl:message>
  <wsdl:portType name="wscnvSoap">
    <wsdl:operation name="obtenerCNV">
      <wsdl:input message="tns:obtenerCNVSoapIn" />
      <wsdl:output message="tns:obtenerCNVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerCNV_OPS">
      <wsdl:input message="tns:obtenerCNV_OPSSoapIn" />
      <wsdl:output message="tns:obtenerCNV_OPSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wscnvSoap" type="tns:wscnvSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerCNV">
      <soap:operation soapAction="http://tempuri.org/obtenerCNV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:obtenerCNVcredencialcnv" part="credencialcnv" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCNV_OPS">
      <soap:operation soapAction="http://tempuri.org/obtenerCNV_OPS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:obtenerCNV_OPScredencialcnv" part="credencialcnv" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wscnvSoap12" type="tns:wscnvSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerCNV">
      <soap12:operation soapAction="http://tempuri.org/obtenerCNV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:obtenerCNVcredencialcnv" part="credencialcnv" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCNV_OPS">
      <soap12:operation soapAction="http://tempuri.org/obtenerCNV_OPS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:obtenerCNV_OPScredencialcnv" part="credencialcnv" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wscnv">
    <wsdl:port name="wscnvSoap" binding="tns:wscnvSoap">
      <soap:address location="http://ws_min.minsa.gob.pe/ws_cnv/wscnv.asmx" />
    </wsdl:port>
    <wsdl:port name="wscnvSoap12" binding="tns:wscnvSoap12">
      <soap12:address location="http://ws_min.minsa.gob.pe/ws_cnv/wscnv.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>